/*generic*/
:root{
    --normalDarkBackground: #192734;
    --normalDarkText: white;
}

body{
    background-color: var(--normalDarkBackground);
    color: var(--normalDarkText);
}

/*header*/
header{
    width: 100%;
    display: flex;
}

.headerBack{
    margin-left: 3px;
    margin-right: 3px;
    display: inline;
}

/*main body stuff*/
.midBox{
    margin: auto;
    text-align: center;
    justify-content: center;
    display: block;
}

.stronch{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

textarea{
    height: 250px;
    background-color: tan;
}

button{
    background-color: wheat;
    border-color: rgb(185, 166, 129);
    color: rgb(82, 72, 31);
}