/*generic*/
:root{
    --normalDarkBackground: #192734;
    --normalDarkText: white;
}

body{
    background-color: var(--normalDarkBackground);
    color: var(--normalDarkText);
}

/*header*/
header{
    width: 100%;
    display: flex;
}

.headerBack{
    margin-left: 3px;
    margin-right: 3px;
    display: inline;
}

/*main body stuff*/
.midBox{
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
}