:root{
    --normalDarkBackground: #192734;
    --normalDarkText: white;
}

body{
    background-color: var(--normalDarkBackground);
    color: var(--normalDarkText);
}

header{
    width: 100%;
    display: flex;
}

.headerBack{
    margin: 3px;
}

.midBox{
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
}